{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">&laquo; Anterior</a>
            <a href="?page=1">Primera</a>
        {% endif %}

        <span class="page-current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Siguiente &raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">último &raquo;</a>
        {% endif %}
    </div>
{% endif %}